body {
    background-color: rgb(97, 102, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 10;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    background-color: #0b0c0a;
    border: 3px solid #113f4b;
    border-radius:20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(20, 241, 50, 0.1);
  }
  
  input[type="text"] {
    width: 98%;
    font-size: 20px;
    padding: 1px;
    margin-bottom: 10px;
    text-align: right;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    font-size: 18px;
    padding: 10px;
    border: 5px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #3f9296;
  }
  
  button:hover {
    background-color: #bb5c28;
  }